[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "extern/shader-slang"]
	path = extern/shader-slang
	url = https://github.com/shader-slang/slang.git
